<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectIcon"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FreeFEOS"
            android:exported="false"
            android:icon="@mipmap/ic_freefeos"
            android:label="@string/freefeos_name"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/ic_freefeos_round" />

        <activity
            android:name=".EcosedKit"
            android:exported="false"
            android:icon="@mipmap/ic_ecosedkit"
            android:label="@string/ecosedkit_name"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/ic_ecosedkit_round" />

        <activity
            android:name=".EbKit"
            android:exported="false"
            android:icon="@mipmap/ic_ebkit"
            android:label="@string/ebkit_name"
            android:launchMode="singleTask"
            android:roundIcon="@mipmap/ic_ebkit_round" />
    </application>

</manifest>